.Toastify__toast {
  width: 21rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.Toastify__progress-bar {
  height: 5px;
  border-radius: 2px;
}

.Toastify__toast--success .Toastify__progress-bar {
  background-color: var(--primary) !important;
}

.Toastify__toast--error .Toastify__progress-bar {
  background-color: var(--red) !important;
}

.Toastify__toast--info .Toastify__progress-bar {
  background-color: var(--primary_hover) !important; 
}

@media (max-width: 767px) {
  .Toastify__toast {
    display: none;
  }
}