.headerWrapper {
  position: absolute;
  width: 100%;
  z-index: 10;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
}

.topBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.2;
}

.logoSection img {
  width: 36px;
  height: 36px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
}

.loginButton {
  background: none;
  border: none;
  color: var(--white);
  font-size: 0.9rem;
  cursor: pointer;
}

.loginButton:hover {
  opacity: 0.7;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: var(--white);
  margin-left: -20px;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 10;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navMenu {
  display: flex;
  gap: 7rem;
  padding: 0.9rem 0;
  margin: 0 auto;
  width: fit-content;
}

.navItem {
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

.navItem:hover {
  opacity: 0.7;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  padding: 20px;
}

.sidebarlogoSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.sidebarlogoSection img {
  width: 36px;
  height: 36px;
}

.sidebarItem {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
}

.sidebarItem:hover {
  color: var(--primary);
}

.active {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .logoSection {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .navBar {
    display: none;
  }

  .title {
    position: static;
    transform: none;
    margin-left: auto;
    margin-right: auto;
  }

  .headerWrapper {
    padding: 0 1rem;
  }

  .title {
    font-size: 1.2rem;
    text-align: center;
  }

  .loginButton {
    font-size: 0.8rem;
  }

  .sidebar {
    width: 55%;
  }

  .sidebarItem {
    font-size: 0.9rem;
  }

  .sidebarlogoSection {
    font-size: 0.8rem;
  }
}