.topContainer {
  margin-bottom: 30px;
  min-height: 74px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggleButton {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary);
}

.error {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: var(--red);
  min-height: 14px;
}

.loading {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary);
  min-height: 14px;
}